@{
    var titulo = "Império dos Andaimes";
}
<!DOCTYPE html>
<html lang="pt-br" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="KOÍOS LTDA">
    <title>@titulo - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TCC.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="~/js/site.js"></script>
    <link rel="icon" href="@Url.Content("~/img/andaime.svg")">
</head>
<body class="h-100" style="background-color: var(--primary-2);">
    <div class="d-flex w-100 mx-0 h-100 p-3 px-3 principal">
        <div class="d-flex h-100 desktop">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light p-0"
            style="background-color: var(--primary-3); border-radius: 8px;">
            <div class="container-fluid h-100 d-flex p-3">
                <div class="d-sm-inline-flex d-flex h-100 justify-content-between ">
                    <ul class="navbar-nav flex-grow-1 d-flex align-items-center flex-column h-100">
                            <a asp-area="" asp-controller="Home" asp-action="Index" style="width: 100%;"
                                title="Início">
                        @if(ViewBag.Page == "Home"){
                            <li class="nav-item MenuItem d-flex justify-content-center">
                                <img src="@Url.Content("~/img/inicioTrue.svg")" width="32" alt="Home">
                        </li>
                        }else{
                            <li class="nav-item User d-flex justify-content-center">
                                <img src="@Url.Content("~/img/inicio.svg")" width="32" alt="Home">
                        </li>
                        }
                            </a>
                            <a asp-area="" asp-controller="novoPedido" asp-action="Index"
                                title="Novo pedido">
                        @if(ViewBag.Page == "NovoPedido"){
                            <li class="nav-item MenuItem d-flex justify-content-center">
                                <img src="@Url.Content("~/img/novoPedidoTrue.svg")" width="32" alt="Novo pedido">
                        </li>
                        }else{
                            <li class="nav-item User d-flex justify-content-center">
                                <img src="@Url.Content("~/img/novoPedido.svg")" width="32" alt="Novo pedido">
                        </li>
                        }
                            </a>
                            <a asp-area="" asp-controller="Relatorio" asp-action="Index"
                                title="Relatório">
                        @if(ViewBag.Page == "Relatorio"){
                            <li class="nav-item MenuItem d-flex justify-content-center">
                                <img src="@Url.Content("~/img/relatorioTrue.svg")" width="32" alt="Relatorio">
                        </li>
                        }else{
                            <li class="nav-item User d-flex justify-content-center">
                                <img src="@Url.Content("~/img/relatorio.svg")" width="32" alt="Relatorio">
                        </li>
                        }
                            </a>
                            <a asp-area="" asp-controller="consultarPedido" asp-action="Index"
                                title="Consulta">
                        @if(ViewBag.Page == "Consulta"){
                            <li class="nav-item MenuItem d-flex justify-content-center">
                                <img src="@Url.Content("~/img/consultaTrue.svg")" width="32" alt="Consulta">
                        </li>
                        }else{
                            <li class="nav-item User d-flex justify-content-center">
                                <img src="@Url.Content("~/img/consultaPedido.svg")" width="32" alt="Consulta">
                        </li>
                        }
                            </a>
                            <a asp-area="" asp-controller="estoque" asp-action="Index"
                                title="Estoque">
                        @if(ViewBag.Page == "Estoque"){
                            <li class="nav-item MenuItem d-flex justify-content-center">
                                <img src="@Url.Content("~/img/estoqueTrue.svg")" width="32" alt="Estoque">
                        </li>
                        }else{
                            <li class="nav-item User d-flex justify-content-center">
                                <img src="@Url.Content("~/img/estoque.svg")" width="32" alt="Estoque">
                        </li>
                        }
                                </a>
                        <li class="bottom">
                        </li>
                        @if(ViewBag.TipoConta == "Administrador"){
                        <a asp-area="" asp-controller="Home" asp-action="CadastrarUsuario"
                                title="Cadastrar">
                            @if(ViewBag.page == "Cadastro"){
                            <li class="nav-item d-flex justify-content-center MenuItem">
                            <img src="@Url.Content("~/img/cadastroTrue.svg")" alt="Cadastrar" width="32">
                        </li>
                        }else{
                            <li class="nav-item User">
                            <img src="@Url.Content("~/img/cadastro.svg")" alt="Cadastrar" width="32">
                        </li>
                        }
                        </a>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="MenuMobile">
            <div class="d-flex justify-content-between m-4">
                            <div class="Logout LogoutMobile p-4" onclick="abrirMenuMobile()">
                                <img src="@Url.Content("~/img/burguerButton.svg")">
                            </div>
                        <a asp-action="Logout" asp-controller="Login">
                            <div class="Logout LogoutMobile p-4">
                                <img src="@Url.Content("~/img/logout.svg")">
                            </div>
                        </a>
                    </div>
                </div>
    <div class="w-100 BodyMobile">
        <div class="d-flex w-100 mb-3">
            <div class="Top">
                <div class="DivWrap justify-content-start w-100">
                        @if(ViewBag.Page == "Usuario"){
                    <a asp-action="Usuario" asp-controller="Home"
                     class="Usuario MenuItem d-flex align-items-center Back Title fs-4 mb-0 desktop">
                            <div class="d-flex align-items-center">
                                <img id="userIcon" src="@Url.Content("~/img/userHover.svg")">
                                <p class="mb-0" style="color: var(--primary-1);">Olá, @ViewBag.Nome</p>
                            </div>
                    </a>
                        }else{
                    <a asp-action="Usuario" asp-controller="Home" title="Dados da conta"
                     class="User d-flex align-items-center Back Title fs-4 mb-0 desktop">
                            <div class="d-flex align-items-center">
                                <img id="userIcon" src="@Url.Content("~/img/user.svg")">
                                <p class="mb-0">Olá, @ViewBag.Nome</p>
                            </div>
                    </a>
                        }
                </div>
            </div>
            <div class="BurguerClicked" id="BurguerClicked">
                <div class="BurguerMenu">
                    <div class="p-2 w-100" onclick="fecharMenuMobile()">
                        <img id="userIcon" src="@Url.Content("~/img/xButton.svg")">
                    </div>
                    <a asp-action="Index" asp-controller="Home">
                    <div class="MenuBar">
                        <p class="m-0">Início</p>
                    </div>
                    </a>
                    <a asp-action="Index" asp-controller="novoPedido">
                        <div class="MenuBar">
                            <p class="m-0">Novo pedido</p>
                        </div>
                    </a>
                    <a asp-action="Index" asp-controller="Relatorio">
                        <div class="MenuBar">
                            <p class="m-0">Relatório</p>
                        </div>
                    </a>
                    <a asp-action="Index" asp-controller="consultarPedido">
                        <div class="MenuBar">
                            <p class="m-0">Consulta</p>
                        </div>
                    </a>
                    <a asp-action="Index" asp-controller="estoque">
                        <div class="MenuBar">
                            <p class="m-0">Estoque</p>
                        </div>
                    </a>
                    <a asp-action="Usuario" asp-controller="Home">
                        <div class="MenuBar">
                            <p class="m-0">Conta</p>
                        </div>
                    </a>
                    <a asp-action="CadastrarUsuario" asp-controller="Home">
                        @if(ViewBag.TipoConta == "Administrador"){
                            <div class="MenuBar">
                                <p class="m-0">Criar usuário</p>
                            </div>
                        }
                    </a>
                </div>
            </div>
            @* <ul class="Top">
            <li>
                <div class="DivWrap">
                </div>
            </li>
            <li>
                <div class="DivWrap">
                </div>
            </li>
            <li>
                <div class="DivWrap">
                </div>
            </li>
            <li>
                <div class="DivWrap">
                </div>
            </li> *@
            <header class="TopHeader w-100 h-100 desktop">
            </header>
                <a asp-action="Logout" asp-controller="Login" title="Sair">
                    <div class="CardInfo Logout desktop">
                    <div class="DivWrap d-flex">
                        <div class="d-flex align-items-center gap-3">
                            <img src="@Url.Content("~/img/logout.svg")">
                            <p class="fs-4 mx-0 m-0">Sair</p>
                        </div>
                    </div>
                </div>
                </a>
        </ul>
        </div>
        <div class="d-flex">
            @RenderBody()
        </div>
    </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
